@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 255, 50;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.custom-bg {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(0, 0, 0)
    )
    rgb(0, 0, 0);
}

.underline-animation {
  position: relative;
  text-decoration: none;
}

.underline-animation::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: rgb(204, 23, 183);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.underline-animation:hover::after {
  transform: scaleX(1);
}
