@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Brush Script MT custom';
  src: url('/BRUSHSCI.TTF');
  font-weight: 400;
  font-style: normal;
}

:root{
  --first-color: #0b0f1d;
  --france-red: #d4196a;
  --france-red-dark: #a61654;
  --france-blue: #041e42;
  --france-blue-dark: #0F172A;
  --serif-font: "Arial";
  --cursive-font: "Brush Script MT custom"
}

body {
  background: var(--first-color);
}

main {
  font-family: var(--serif-font);
}

.first-bg {
  background: var(--first-color);
}

.second-bg {
  background: var(--france-blue-dark);
}

.second-bg-light {
  background: var(--france-blue);
}

.cursive-font {
  font-family: var(--cursive-font)
}

.serif-font {
  font-family: var(--serif-font)
}

.generate-button {
  background: var(--france-red)
}

.generate-button:hover {
  background: var(--france-red-dark)
}

.special-word {
  color: var(--france-red)
}

.special-word:hover {
  color: var(--france-red-dark)
}

.button-grow:hover {
  transform: scale(1.05);
}

.connect-button {
  background-color: var(--france-blue);
}

.connect-button:hover {
  background-color: var(--france-blue-dark);
}

.dropdown-element {
  width: 100%;
  margin-top: .5vh;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  border-radius: 0.5rem;
  padding-left: 1vw;
  padding-right: 1vw;
  display: inline-flex;
  align-items: center;
}

.dropdown-element:hover {
  background-color: var(--first-color);
}

.videoContainer {
  position: relative;
  top: -60vh;
}

.videoSubContainer {
  width: 80vh;
  max-width: 80vw;
  height: 45vh;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.footprint {
  stroke-dasharray: 156;
  stroke-dashoffset: 156;
  animation: dash 5s linear forwards;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.modal {
  position: fixed;
  z-index: 2;
}

.section-selector-item {
  border-color: var(--france-blue-dark);
  border-width: 2px;
  padding: .75em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}